@model User;

@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<div>@Model.LastName</div>
	<div>@Model.Name</div>
	<div>@Model.MiddleName</div>
	<div>@Model.Email</div>
	<div>@Model.Phone</div>
	<div>@Model.Password</div>
</body>
</html>